/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
/* COMMON */
.white{
    color: white
}

.container{
    width: 1400px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

h1, p{
    text-align: right;   
}


.items{
    width: 1000px;
    height: 600px;
}

.item{
    height: 100%;
    display: none;
    position: relative;
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item.active{
    display: block;
}

.thumbs{
    height: 300px;
    background-color: #000;
    position: relative;
}

.thumb{
    width: calc((300px) / 5);
    opacity: 0.5;
}

.thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumb.active{
    border: 2px solid #ccc;
    opacity: 1;
}

.prev, .next{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px 0;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 999;
}

.next{
    bottom: 0;
}

.prev::after{
    content: ``;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%) rotate(-45deg);
}

.next::before{
    content: ``;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%) rotate(135deg);
}